.DS_Store
*.log
portal/inc/config.php
portal/uploads/*
!portal/uploads/.gitkeep
!portal/uploads/.htaccess
plus2/portal/inc/config.php
plus2/portal/uploads/*
!plus2/portal/uploads/.gitkeep
!plus2/portal/uploads/.htaccess
