<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebSite",
      "@id": "https://kamalasciencecampus.edu.np/#website",
      "name": "Kamala Science Campus",
      "alternateName": "कमला साइन्स क्याम्पस",
      "url": "https://kamalasciencecampus.edu.np/",
      "inLanguage": ["en", "ne"],
      "publisher": { "@id": "https://kamalasciencecampus.edu.np/#campus" }
    },
    {
      "@type": "CollegeOrUniversity",
      "@id": "https://kamalasciencecampus.edu.np/#campus",
      "name": "Kamala Science Campus",
      "alternateName": "कमला साइन्स क्याम्पस",
      "url": "https://kamalasciencecampus.edu.np/",
      "logo": "https://kamalasciencecampus.edu.np/assets/img/logo-192.png",
      "email": "admin@kamalasciencecampus.edu.np",
      "telephone": "+977-47-520203",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Dhungrebas",
        "addressLocality": "Kamalamai, Sindhuli",
        "addressRegion": "Bagmati Province",
        "addressCountry": "NP"
      }
    }
  ]
}
</script>
